.product {

    img {
        float: left;
        height: 100%;
    }

    div {
        float: left;
    }
    
    .price {
        font-size: 1.2em;
        font-weight: bold;
        color: var(--primary);
    }
}